:root {
  font-family: sans-serif;
  font-size: small;
}

body {
  margin: 0;
  background-color: #e6e5fe;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
}
main {
  height: 85%;
}

h1 {
  text-align: center;
  margin: 8px;
  font-size: large;
}

h2,
h4,
h5 {
  margin: 2px;
  font-size: medium;
}



span {
  font-size: x-small;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

nav > ul > li {
  font-size: medium;
  padding: 15px 10px;
  min-width: 300px;
  box-sizing: border-box;
  border: 1px;
  border-radius: 10px;
  text-align: center;
  background-color: #462346;
  color: white;
}

nav > ul > li:hover {
  background-color: #aaaafa;
  color: black;
  cursor: pointer;
}

nav > ul > li:active {
  background-color: #462346;
  color: white;
  cursor: pointer;
}

.container {
  display: flex;
  gap: 10px;
  height: 100%;
  margin: 10px;
}

.navbar,
.contentContainer {
  border: 1px;
  border-radius: 10px;
  background-color: #f3f1ef;
  display: flex;
  flex-direction: column;
}

.navbar {
  flex: 1;
  overflow: scroll;
}

.navItem {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  margin: 0;
  gap: 20px;
  font-weight: 600;
  min-width: 160px;
}

.navItem li {
  width: 100%;
}

.nav-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0 10px 10px;
  gap: 20px;
  font-weight: 400;
  border-radius: 10px;
}

.nav-item.active {
  background-color: white;
  width: 100%;
  font-weight: 600;
  font-size: 1.1em;
}

.dynamic-nav {
  padding-left: 5px;
}

.navSubItem {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  margin: 0;
  gap: 20px;
  font-weight: 400;
}

.navItem > li:hover {
  cursor: pointer;
}

.contentContainer {
  flex: 5;
}

.einsatzkategorie {
  padding: 5px;
  height: 75px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}

#einsatzkategorieHeader {
  font-size: large;
  font-weight: bold;
  padding: 5px;
}

#einsatzkategorieList {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

#einsatzkategorieList input[type="checkbox"] {
  display: none;
}

.einsatzinfo {
  font-size: small;
  display: block;
  flex: 1;
  text-align: center;
  padding: 10px 0;
  background-color: transparent;
  color: black;
  background-color: #d6d1ca;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: 0.5px lightgray solid;
  border-top: none;
  border-radius: 10px;
}

.einsatzinfo:has(input[type="checkbox"]:checked) {
  background-color: #aaaafa;
  color: black;
  border-radius: 10px;
  font-weight: bold;
}

.formContent {
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: auto;
}

.formContainer {
  display: none;
}

.formContainer.active {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 20px;
}

.formChild {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  flex-wrap: nowrap;
  padding-left: 10px;
}
.formChild:not(:first-child) {
  border-top: 1px solid rgb(211, 211, 211);
  padding-top: 10px;
}

.formChildBox,
.formChildBoxLargeWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  /* border: 1px solid black; */
  min-width: 225px;
}

.formChildBox.unauffaellig {
  flex: 1;
}

.formChildBox.unauffaellig .checkbox-wrapper {
  width: 50%;
}

.formChildBoxLargeWrapper {
  flex: 1;
}

.formChildBoxLargeWrapper .checkbox-wrapper label {
  min-width: 200px;
}

.formChildBoxLargeWrapper .radio-wrapper label {
  min-width: 120px;
}

.formChildBoxLargeWrapper.column div .radio-wrapper label {
  width: 80%;
}

.radio-wrapper label,
.checkbox-wrapper label {
  font-size: smaller;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  background: #fff;
  padding: 2px 15px;
  margin: 0;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  line-height: 1.55;
  color: black;
  min-width: 120px;
}

.radio-wrapper input,
.checkbox-wrapper input {
  display: none;
}

.radio-wrapper label:has(input:checked),
.checkbox-wrapper label:has(input:checked) {
  background: #82d282;
  color: white;
  border: 2px solid #82d282;
}

.text-wrapper input[type="text"],
.text-wrapper input[type="number"],
.text-wrapper input[type="time"],
.text-wrapper textarea {
  display: inline-flex;
  align-items: center;
  background: #fff;
  padding: 2px 15px;
  margin: 0;
  border: 2px solid #eeeeee;
  transition: all 0.1s linear;
  line-height: 1.55;
  color: black;
  font-size: x-small;
  min-width: 500px;
  outline: none;
}

.text-wrapper textarea {
  min-height: 50px;
  font-family: sans-serif;
}

.checkbox-wrapper.unauffaellig label {
  width: 100%;
  font-size: small;
  justify-content: center;
}

.text-wrapper input[type="number"],
.text-wrapper input[type="time"] {
  min-width: 50px;
}

#mahlzeit-stunden {
  max-width: 35px;
}

.text-wrapper.slim input[type="text"] {
  min-width: 0;
  width: 150px;
}

.radio-wrapper.width230 {
  width: 100%;
}

.radio-wrapper.width230 label {
  max-width: 100%;
  padding-right: 0;
}

.radio-wrapper.width165 {
  width: 100%;
}

.radio-wrapper.width165 label {
  max-width: 100%;
  padding-right: 0;
}

/* Aktiv (wie checked) */
.text-wrapper input[type="text"]:focus,
.text-wrapper input[type="number"]:focus,
.text-wrapper textarea:focus {
  border: 2px solid #82d282;
  color: black;
}

/* Optional: Wenn Feld Inhalt hat */
/* .text-wrapper input[type="text"]:not(:placeholder-shown),
.text-wrapper input[type="number"]:not(:placeholder-shown),
.text-wrapper textarea:focus {
  border-color: #82d282;
  color: black;
} */

.text-wrapper input[name^="medDetails_"] {
  min-width: none;
  max-width: 100px;
}

.custom-select {
  position: relative;
  font-family: inherit;
  min-width: 200px;
  max-width: 100%;
  /* font-size: small; */
}

/* Geschlossenes Feld */
.custom-select-trigger {
  font-size: smaller;
  background: #fff;
  padding: 5px 15px;
  border: 1px solid #eeeeee;
  line-height: 1.55;
  color: black;
  cursor: pointer;
  transition: all 0.1s linear;
}

/* Pfeil */
.custom-select-trigger::after {
  content: "▾";
  float: right;
}

/* Dropdown */
.custom-options {
  font-size: smaller;
  position: absolute;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #eeeeee;
  border-top: none;
  display: none;
  z-index: 10;
}

/* Option */
.custom-option {
  padding: 8px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
  color: black;
  margin: 5px;
}

/* Hover */
.custom-option:hover {
  background: #f5f5f5;
}

/* Active (gewählt) */
.custom-option.selected {
  background: #82d282;
  color: white;
}

.hiddenSection {
  display: none;
}

#gcsFirstChild,
#gcsSecondChild,
#pupillenFirstChild,
#pupillenSecondChild {
  flex: 1;
}

#gcsThirdChild,
#pupillenThirdChild {
  flex: 1.5;
}

#traumaBC,
#traumaD {
  display: flex;
  flex: 1;
}

#traumaBC > div,
#traumaD > div {
  flex-grow: 1;
}

.infotext {
  font-size: x-small;
  font-weight: lighter;
  font-style: italic;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  padding: 5px;
  min-width: 300px;
  max-width: 90%;
  position: relative;
}

.tag-container:has(input[type="text"]:focus) {
  border: 2px solid #82d282;
  color: black;
}

.tag-container input[type="text"] {
  border: none;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  border: none;
}

.tag {
  background: #e0e0e0;
  padding: 3px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.tag .remove {
  margin-left: 6px;
  cursor: pointer;
  color: red;
}

.tag-input {
  border: none;
  outline: none;
  flex: 1;
  min-width: 100px;
  padding: 5px;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  list-style: none;
  background: white;
  /* border: 1px solid #ccc; */
  margin: 0;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
}

.suggestions li {
  padding: 5px 10px;
  cursor: pointer;
  overflow: auto;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}
.suggestions li.active {
  background-color: #cce5ff;
}
/* 
.med-row {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 12px;
  align-items: center;
  margin-bottom: 10px;
}

.med-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.med-input {
  display: none;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: 0.2s ease;
}

.med-row.active .med-input {
  display: block;
} */

.selected-meds-container {
  margin-top: 10px;
  padding: 8px;
  background: #f3f1ef;
  border-radius: 8px;
}

.selected-med-row {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 12px;
  align-items: center;
  margin-top: 5px;
}

.selected-med-label {
  font-size: x-small;
}

.lessSpace h5 {
  font-size: small;
  margin: 0;
}

.lessSpace .formChildBox {
  gap: 2px;
}

.red {
  color: red;
  font-weight: bold;
}