:root {
  font-family: sans-serif;
  font-size: small;
}

body {
  margin: 0;
  background-color: #e6e5fe;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
}
main {
  height: 85%;
}

h1 {
  text-align: center;
  margin: 8px;
  font-size: large;
}

h2,
h5 {
  margin: 2px;
  font-size: medium;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

nav > ul > li {
  font-size: medium;
  padding: 15px 10px;
  min-width: 300px;
  box-sizing: border-box;
  border: 1px;
  border-radius: 10px;
  text-align: center;
  background-color: #462346;
  color: white;
}

nav > ul > li:hover {
  background-color: #aaaafa;
  color: black;
  cursor: pointer;
}

nav > ul > li:active {
  background-color: #462346;
  color: white;
  cursor: pointer;
}

.container {
  display: flex;
  gap: 10px;
  height: 100%;
  margin: 10px;
}

.navbar,
.contentContainer {
  border: 1px;
  border-radius: 10px;
  background-color: #f3f1ef;
  display: flex;
  flex-direction: column;
}

.navbar {
  flex: 1;
}

.navItem {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  margin: 0;
  gap: 20px;
  font-weight: 600;
}

.nav-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  gap: 20px;
  font-weight: 400;
}

.dynamic-nav {
  padding-left: 5px;
}

.navSubItem {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  margin: 0;
  gap: 20px;
  font-weight: 400;
}

.navItem > li:hover {
  cursor: pointer;
}

.contentContainer {
  flex: 5;
}

.einsatzkategorie {
  padding: 5px;
  height: 75px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}

#einsatzkategorieHeader {
  font-size: large;
  font-weight: bold;
  padding: 5px;
}

#einsatzkategorieList {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

#einsatzkategorieList input[type="checkbox"] {
  display: none;
}

.einsatzinfo {
  display: block;
  flex: 1;
  text-align: center;
  padding: 10px 0;
  background-color: transparent;
  color: black;
  background-color: #d6d1ca;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: 0.5px lightgray solid;
  border-top: none;
  border-radius: 10px;
}

.einsatzinfo:has(input[type="checkbox"]:checked) {
  background-color: #aaaafa;
  color: black;
  border-radius: 10px;
}

.formContent {
  height: 100%;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.formContainer {
  display: none;
}

.formContainer.active {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  /* justify-content: space-evenly; */
}

.formChild {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 10px;
}
.formChild:not(:first-child) {
  border-top: 1px solid rgb(211, 211, 211);
  padding-top: 10px;
}

.formChildBox,
.formChildBoxLargeWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  /* border: 1px solid black; */
  min-width: 225px;
}

.formChildBoxLargeWrapper .checkbox-wrapper label {
  min-width: 300px;
}

.radio-wrapper label,
.checkbox-wrapper label {
  /* font-size: small; */
  display: inline-flex;
  align-items: center;
  background: #fff;
  padding: 5px 15px;
  margin: 0;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  line-height: 1.55;
  color: #737373;
  min-width: 150px;
  max-width: 100%;
}

.radio-wrapper input,
.checkbox-wrapper input {
  display: none;
}

.radio-wrapper label:has(input:checked),
.checkbox-wrapper label:has(input:checked) {
  background: #82d282;
  color: white;
}

.text-wrapper input[type="text"] {
  display: inline-flex;
  align-items: center;
  background: #fff;
  padding: 5px 15px;
  margin: 0;
  border: 1px solid #eeeeee;
  transition: all 0.1s linear;
  line-height: 1.55;
  color: #737373;
  min-width: 500px;
  max-width: 100%;
  outline: none;
}

/* Aktiv (wie checked) */
.text-wrapper input[type="text"]:focus {
  border: 1px solid #82d282;
  color: #737373;
}

/* Optional: Wenn Feld Inhalt hat */
.text-wrapper input[type="text"]:not(:placeholder-shown) {
  color: #737373;
  border-color: #82d282;
}

.custom-select {
  position: relative;
  font-family: inherit;
  min-width: 200px;
  max-width: 100%;
  /* font-size: small; */
}

/* Geschlossenes Feld */
.custom-select-trigger {
  background: #fff;
  padding: 5px 15px;
  border: 1px solid #eeeeee;
  line-height: 1.55;
  color: #737373;
  cursor: pointer;
  transition: all 0.1s linear;
}

/* Pfeil */
.custom-select-trigger::after {
  content: "▾";
  float: right;
}

/* Dropdown */
.custom-options {
  position: absolute;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #eeeeee;
  border-top: none;
  display: none;
  z-index: 10;
}

/* Option */
.custom-option {
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
  color: #737373;
  margin: 5px;
}

/* Hover */
.custom-option:hover {
  background: #f5f5f5;
}

/* Active (gewählt) */
.custom-option.selected {
  background: #82d282;
  color: white;
}

.hiddenSection {
  display: none;
}
